.vscode
.venv
*.o
.out
.d
.env
.DS_Store

# executables
bin

CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

_deps
bazel-bin
bazel-out
bazel-CloudMesh
bazel-testlogs
MODULE.bazel.lock
.DS_Store
bazel-CloudMesh

data/*
third_party/cppzmq*
third_party/libzmq*
